*.class

# Package Files #
*.jar
*.war
*.ear

# ECLIPSE #
Servers
.metadata
RemoteSystemsTempFiles
**/target
.*
logs
!lib/**
!.gitignore

# Data
public/images
/bin

# Play framework
logs/*
project/*
conf/*
